<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Peynir.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD5F74B8238B4CA100DCEED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5F74D1238B4CA200DCEED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5F74DC238B4CA200DCEED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
